POSTGRES_HOST=
POSTGRES_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=

POSTGRES_DB=

AUTO_MIGRATE=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=
REDIS_DATABASES=

ACCESS_TOKEN_LIFETIME_SECONDS=
REFRESH_TOKEN_LIFETIME_SECONDS=

USER_SERVICE_GRPC_API_PORT=
